html,
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body {
	background: $body;
	color: $default-font;
	font-family: 'Garamond', serif;
	font-size: 16px;
}

#page {
	min-height: 100%;
	position: relative;
}

//////////////////
//  TYPE  ///////
////////////////

h2, h3, h4, h5, h6 {
	font-family: 'Dosis', 'Helvetica Neue', Arial, sans-serif;
}

h1 {
  margin-bottom: 0.25em;

  font-family: 'Garamond', serif;
  font-size: 2em;
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 0.15em;
  line-height: 1.5em;
}


h2 {
  margin-bottom: 0.5em;

  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2em;
}

h3 {
	margin: 2.5em 0 1em;

  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2em;
}



p {
	font-family: 'Garamond', serif;
	font-size: 1.15em;
  letter-spacing: 0.02em;
  line-height: 1.65em;
  margin-bottom: 1em;
}

a,
.link-style,
.link-style:visited {
  border-bottom: 0.1em solid $default-link;

  color: $default-link;
  text-decoration: none;

  cursor: pointer;
  &:active,
  &:hover {
    color: $hover;
    border-bottom: 0.1em solid $hover;
  }
}

//////////////////
//  MEDIA  //////
////////////////

figure {
  margin: 0 auto;
}

figcaption {
  margin: 2.5em 0 1em;

  font-family: 'Dosis', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2em;
}


//////////////////
//  FORMS  //////
////////////////

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  display: block;
  margin: 25px 0;
  padding: 10px 30px;

  border: 1px solid $accent;
  border-radius: 5px;
  outline: none;

  background-color: $accent;

  color: $white;
  font-family: 'Garamond', serif;
  font-size: 1em;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  text-shadow: none;

  box-shadow: none;
  cursor: pointer;

  -webkit-appearance: button;
  &:active,
  &:hover {
    border-color: $hover;

    background-color: $hover;
    box-shadow: none;
    text-shadow: none;
  }
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  border: 1px solid $grey--medium;
  border-radius: 3px;
  outline: none;

  display: block;

  background-color: $white;

  font-family: 'Garamond', serif;
  font-size: 1.15em;
  line-height: 1.5em;
  font-variant: small-caps;
  letter-spacing: 0.15em;
  padding: 5px 10px;
  width: 80%;
}

label {
  font-family: 'Garamond', serif;
  letter-spacing: 0.02em;
  line-height: 1.65em;
  margin: 0.5em 0 1em;
}

///////////////////
//  UTILITIES  ///
//////////////////

.hide-sm {
  @include mq(small-only){
    display: none;
  }
}

.show-sm {
  display: block;
  @include mq(medium){
    display: none;
  }
}
