html,
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body {
	background: $grey--light;
	color: $default-font;
	font-family: 'Garamond', serif;
	font-size: 16px;
}

#page {
	min-height: 100%;
	position: relative;
}

//////////////////
//  TYPE  ///////
////////////////

h2, h3, h4, h5, h6 {
	font-family: 'Dosis', 'Helvetica Neue', Arial, sans-serif;
	// letter-spacing: 0.015em;
}

h1 {
  margin-bottom: 0.25em;

  font-family: 'Garamond', serif;
  font-size: 2em;
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 0.15em;
  line-height: 1.5em;
}


h2 {
  margin-bottom: 0.5em;

  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2em;
}

h3 {
	margin: 2.5em 0 1em;

  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2em;
}



p {
	font-family: 'Garamond', serif;
	font-size: 1.15em;
  letter-spacing: 0.02em;
  line-height: 1.65em;
  margin-bottom: 1em;
}


//////////////////
//  LINKS  //////
////////////////

a,
.link-style {
  border-bottom: 0.1em solid $default-link;

  color: $default-link;
  text-decoration: none;

  cursor: pointer;
  &:hover {
    color: $hover;
    border-bottom: 0.1em solid $hover;
  }
}



///////////////////
//  UTILITIES  ///
//////////////////

.hide-sm {
  @include mq(small-only){
    display: none;
  }
}

.show-sm {
  display: block;
  @include mq(medium){
    display: none;
  }
}
