html,
body {
	height: 100%;
}

body {
	background: $grey--light;
	color: $default-font;
	font-family: 'Garamond', serif;
	font-size: 16px;
}

#page {
	min-height: 100%;
	position: relative;
}

//////////////////
//  TYPE  ///////
////////////////

h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', 'Helvetica Neue', Arial, sans-serif;
	// letter-spacing: 0.015em;
}

h1 {
  margin-bottom: 0.5em;

  font-size: 2em;
  font-weight: 500;
  line-height: 1.5em;
}

h2 {
  margin-bottom: 0.5em;

  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.2em;
}

h3 {
	margin-bottom: 0.5em;

  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.2em;
}



p {
	font-family: 'Garamond', serif;
	font-size: 1.15em;
  letter-spacing: 0.02em;
  line-height: 1.65em;
}


//////////////////
//  LINKS  //////
////////////////

a {
  border-bottom: 2px solid $default-link;

  color: $default-link;
  text-decoration: none;
  &:hover {
    color: $hover;
  }
}


///////////////////
//  UTILITIES  ///
//////////////////

.hide-sm {
  @include mq(small-only){
    display: none;
  }
}

.show-sm {
  display: block;
  @include mq(medium){
    display: none;
  }
}
