.site-content {
  @include mq(medium) {
    padding: 80px 15px 300px;
  }

  height: 100%;
  max-width: 48em;
  margin: 0 auto;
  padding: 80px 3% 300px;
}

.csstransitions .site-main { //TRANSITION CONTENT
  &.loaded {
    h1, h2, h3, h4, h5, h6, p, a, img, ul, div:not(.banner), figure, span {
      opacity: 1;
    }
  } 

  h1, h2, h3, h4, h5, h6, p, a, img, ul, div:not(.banner), figure, span {
    opacity: 0;
    @include transition(opacity, 0.5s, ease-in-out)  

  }
}

.site-main,
.site-main p {
  font-family: $serif;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.65em;
  margin-bottom: 1em;
}

.site-main {
  h1,h2,h3,h4,h5,h6, a {
    margin: 2.5em 0 1em;

    font-family: $sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.2em;
    font-variant: normal;
    letter-spacing: normal;
  }

  ul {
  margin-bottom: 1.5em;
  margin-left: 1em;
  li {
    list-style: disc;

    list-style-position: outside;
    list-style-type: circle;
  }
}


}

.banner {
  @include boxshadow($grey--medium);
  @include flexbox(column, center);
  @include mq(medium) {
    margin-bottom: 80px;
    height: 150px;
  }

  min-height: 150px;
  height: 100%;
  margin: 0 -100%; // for full bleed banner
  margin-bottom: 50px;
  padding: 0 100%;

  background-color: $light-blue;
  &.logo {
    @include mq(medium) {
      margin-bottom: 180px;
    }
    margin-bottom: 130px;
  }
  svg.logo {
    @include mq(medium) {
      transform: scale(1.4) translateY(13px);
    }
    transform: scale(1.2) translateY(13px);
  }
}


.svg .banner #vivus-header * {
  fill-opacity: 0;
  @include transition(fill-opacity, 1s, ease);
}

.svg .banner #vivus-header.finished * {
  fill-opacity: 1
}

.no-svg .banner.logo .logo-fallback {
  display: block !important;
}

.banner.logo .logo-fallback {
  display: none !important;
}

.banner-content {
  max-width: 40em;
  margin: 0 auto;

  color: $grey--dark;
  font-family: $sans-serif;
  font-size: 40px;
  font-variant: normal;
  line-height: 1.25em;
  text-align: center;
  h1 {
    color: $grey--dark;
    font-family: $sans-serif;
    font-size: 40px;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1.25em;
    margin: 0 !important;
  }
  padding: 30px 5%;
  @include mq(medium) {
    padding: 30px 0;
  }
}

.banner.logo {
  height: 150px;
}

.banner.logo .banner-content {
  @include mq(medium) {
    padding: 60px 0 0;
  }
  height: 100%;
  padding: 35px 0 0;
}

.no-flexbox .banner {
  padding-top: 35px;
}


//////////////////////
//  SERVICES  ///////
////////////////////

.services_post {
  margin-top: 2.5em;
}

.services_post__icons {
  text-align: center;
  img {
    display: block;
    padding: 0 10px;
    direction: block;
    margin: 0 auto 15px;
    @include mq(small-only) {
      max-width: 250px;
    }
  }
  h3 {
    margin: 0 auto 5px;
    font-size: 18px;
    text-align: center;
    padding: 0 1em;
  }
}


//////////////////////
//  TEAM  ///////////
////////////////////

.team_member_post {
  margin-bottom: 2.5em;
  &:nth-of-type(2) { //this is to reduce white space between blue banner and content only for team page
    margin-top: -30px;
  }
  img {
    display: block;
    margin: 0 auto 15px;
    max-width: 300px;
    width: 100%;

  }
  .team_member_post__title {
    margin: 0 !important;
    font-size: 20px;
    text-align: center;
  }
  .team_member_post__role {
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
  }
}

//////////////////////
//  TESTIMONIALS  ///
////////////////////

.testimonial_post {
  margin-bottom: 2.5em;
  .testimonial_post__title {
    margin: 0 !important;
    font-style: italic;
    font-size: 20px;
  }
  .testimonial_post__location {
    font-style: italic;
    font-size: 18px;
    padding-left: 1em;
    margin-top: 5px;
  }
}




