.site-content {
  @include mq(medium) {
    padding: 80px 0 450px;
  }

  height: 100%;
  max-width: 48em;
  margin: 0 auto;
  padding: 80px 3% 450px;
}

.csstransitions .site-content { //TRANSITION CONTENT
  &.loaded {
    h1, h2, h3, h4, h5, p, a, img, figure, span {
      opacity: 1;
    }
  } 

  h1, h2, h3, h4, h5, p, a, img, figure, span {
    opacity: 0;
    @include transition(opacity, 0.5s, ease-in-out)  

  }
}


.banner {
  @include boxshadow($grey--medium);

  height: 190px;
  margin: 0 -100%; // for full bleed banner
  padding: 0 100%;

  margin-bottom: 80px;

  background-color: $light-blue;

  &.logo {
    margin-bottom: 150px;
  }

  svg.logo{
    transform: scale(1.4) translateY(13px);
  }

}

.svg .banner #vivus-header * {
  fill-opacity: 0;
  @include transition(fill-opacity, 1s, ease);
}

.svg .banner #vivus-header.finished * {
  fill-opacity: 1
}


.banner + figure {
  margin-top: -30px;
}

.banner-content {
  max-width: 40em;
  margin: 0 auto;
  padding: 50px 0;

  color: $grey;
  text-align: center;
}

//////////////////////
//  TESTIMONIALS  ///
////////////////////


.testimonial-entry {
  margin-bottom: 2.5em;
  .testimonial-entry-content {
    margin-bottom: 1em;

    font-family: 'Garamond', serif;
    letter-spacing: 0.02em;
  }
  .testimonial-entry-title a {
    border: 0;

    color: $default-font;
    font-size: 1.15em;
    font-style: italic;
    line-height: 1.65em;

    cursor: default;

    pointer-events: none;
  }
}
