.site-content {
  @include mq(medium) {
    padding: 0 0 400px;
  }

  height: 100%;
  max-width: 48em;
  margin: 0 auto;
  padding: 0 3%;
  padding-bottom: 400px //footer height
}


.banner {
  @include boxshadow($grey--medium);

  height: 190px;
  margin: 0 -100%; // for full bleed banner
  padding: 0 100%;

  margin-bottom: 80px;

  background-color: $light-blue;

  &.logo {
    margin-bottom: 150px;
  }

  svg.logo{
    transform: scale(1.4) translateY(13px);
  }

}

.banner-content {
  max-width: 40em;
  margin: 0 auto;
  padding: 50px 0;

  color: $grey;
  text-align: center;
}
