footer.site-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;

  background-color: $white;
  text-align: center;

  .footer-text {
    font-size: 1em;
    color: $footer-font;
    margin-top: 20px;
    padding: 0 3%;
  }
  
  a,
  a:visited,
  a:link {
    text-transform: capitalize;
    border: 0;

    color: $footer-font;
    line-height: 1.5em;
    text-decoration: none;
    &:focus,
    &:active,
    &:hover {
      color: $hover;
      border-bottom: 0.1em solid $hover;
    }
  }
  
  .link-style:visited,
  .link-style:link,
  .link-style {
    cursor: pointer;
    margin-bottom: 0.5em;

    color: $default-link;
    text-decoration: none;
    text-transform: none;
    &:focus,
    &:active,
    &:hover {
      color: $hover;
      border-bottom: 0.1em solid $hover;
    }
  }

  svg.logo-watermark {
    position: relative;
    height: 100%;
    width: 150px;
    margin-top: -96px;
  }

}

