footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;

  background-color: $white;

  font-size: 0.85em;
  text-align: center;
  
  a {
    border: 0;

    color: $grey;
    line-height: 1.5em;
    text-decoration: none;
  }
}
