//////////////////
//  COLORS  /////
////////////////

$black: #000;
$white: #fff;

$grey--light: #f9f9f9;
$grey--dark: #2b2b2b;
$grey: #797878;

$light-blue: #dae9f2;
$orange: #d88832;

$accent: $orange;

$default-font: $grey--dark;
$hover-color: $accent;