//////////////////
//  COLORS  /////
////////////////

$black: #000;
$white: #fff;

$grey--light: #f9f9f9;
$grey--medium-light: #eeeeee;
$grey--medium: #C7C7C7;
$grey--dark: #797878;
$grey--darker: #3A3A3A;

$grey: #797878;

$light-blue: #dae9f2;
$orange: #d88832;
$orange--dark: #BF792D;

$red: #E63F3F;


$accent: $orange;
$accent--darker: $orange--dark;
$body: $grey--light;

$default-font: $grey--darker;
$footer-font: $grey--dark;
$default-link: $accent;
$hover: $accent--darker;

$error: $red;
$warning: $red;

$serif: 'Times New Roman', Times, serif;
$sans-serif:'Dosis', 'Helvetica Neue', Arial, sans-serif;