//////////////////
//  COLORS  /////
////////////////

$black: #000;
$white: #fff;

$grey--light: #f9f9f9;
$grey--dark: #2b2b2b;
$grey: #797878;

$light-blue: #dae9f2;
$orange: #d88832;
$orange--dark: #BF792D;

$accent: $orange;
$accent--darker: $orange--dark;

$default-font: $grey--dark;
$default-link: $accent;
$hover: $accent--darker;